---

---
<section class="">
    <div class="relative flex flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <video autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
            <source src="/video/heroloop.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
          <div class="relative z-1">
            <div class="absolute inset-0 flex justify-center items-center">
                <div class="text-center">
                    <h1 class="text-blue-500 text-4xl md:text-6xl lg:text-7xl font-bold">
                        BIRDSEYE
                    </h1>  
                </div>
            </div>
          </div>
    </div>
</section>
    




<!-- <section id="hero-container" class=" flex justify-center h-full">
    <video id="hero-video" muted autoplay loop>
        <source src="/video/heroloop.mp4" type="video/mp4">
    </video>
    <div id="hero-text" class="">
        <h1>BirdsEye</h1>
        <p>Aerial Photography</p>
    </div>
</section> -->







<style>
    @import "https://unpkg.com/open-props"; 
    @import "https://unpkg.com/open-props/normalize.min.css";
   
    h1 {
        font-size: var(--font-size-8);
        font-family: var(--font-mono);
    }

   

    #hero-container {
        position: relative;
        min-width: 100%;
    }

    #hero-video {
        width: 100%;
    }

    #hero-text {
        position: absolute;
        text-align: center;
   
        padding-top: 15rem;
        
    }

</style>