---

---


<section id="hero" class="mx-auto flex justify-center h-screen">
    <video id="hero-video" muted autoplay loop>
        <source src="/video/heroloop.mp4" type="video/mp4">
    </video>
    <div id="hero-text" class="">
        <h1>BirdsEye</h1>
        <p>Aerial Photography</p>
    </div>
</section>



<style>
    @import "https://unpkg.com/open-props"; 
    @import "https://unpkg.com/open-props/normalize.min.css";
   
    h1 {
        font-size: var(--font-size-8);
        font-family: var(--font-mono);
    }

    #hero-video {
        position: absolute;
        min-width: 100%;
        
    }

    #hero-text {
        position: relative;
        text-align: center;
   
        padding-top: 15rem;
        
    }

</style>